/* The Modern CSS Reset by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: var(--palegrey);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --brightGreen: #b8d43a;
    --lightGreen: #D4E653;
    --brightPink: #f4229d;
    --brightRed: #ce023d;
    --darkgrey: #32373c;
    --darkPurple: #5A2D75;
    --deepPurple: #3D1C55;
    --grey: #666666;
    --palegrey: #F6F4F5;
    --phanitasPurple: #8856a3;
    --phanitasYellow: #fcb900;
    --phanitasGreen: #A9CB31;
}

/* Global Styles */

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #3D1C55;
}

header {
    background-color: var(--phanitasGreen);
    height: 120px;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;

}

/* Nav Styles */
nav {
    height: 100%;
}

.logo {
    width: 120px;
    height: 120px;
}

.nav-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 1px 3px #666666;
}

.side {
    /* ensures side nav takes up the full width & height*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightGreen);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-100%);
    transition: 1s;
    box-shadow: 1px 5px 5px #666666;
}

.show-sidebar {
    transform: translate(0);
}

.close-btn {
    width: 40px;
    height: 40px;
    border: none;
    align-self: flex-end;
    background-color: var(--lightGreen);
    color: var(--brightRed);
}

.links {
    list-style: none;
}

li {
    padding: 1rem 0;
}

a {
    text-decoration: none;
    font-weight: 500;
}

.phone {
    font-weight: 700;
}

.phone a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--brightPink);
    /* Use a standout color */
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2rem;
}

.phone a:hover {
    background-color: var(--phanitasPurple);
    /* Slight hover effect */
}

/* Hero Styles */
.hero-area {
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--palegrey)
}

h1 {
    font-family: "Hind Madurai", sans-serif;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: var(--deepPurple);
}

h2 {
    padding-bottom: .8rem;
}

h3 {
    padding-bottom: 1rem;
}

.hero-text {
    padding-bottom: 2rem;

}

.hero-text>p {
    font-weight: 600;
}

.hero-cta {
    padding: 0.8rem 1rem;
    background-color: var(--brightPink);
    /* Use a standout color */
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2rem;
    border: none;
    width: 50%;
}

.hero-cta:hover {
    background-color: var(--phanitasPurple);
    /* Slight hover effect */
}

.hero-img,
.about-us-img {
    border-radius: 2rem;
    border: 2px solid var(--brightPink);
    box-shadow: 2px 2px 5px var(--phanitasPurple);
}

.hero-text>p:last-of-type {
    padding-bottom: 1rem;
}


/* About Us Styles */

.long-logo {
    padding-bottom: 2rem;
}

.about-us {
    background-color: var(--phanitasGreen);
    padding: .5rem 0;
    display: flex;
    justify-content: center;
}

.about-us-card {
    padding-bottom: 2rem;
}

.about-us-card>h2 {
    font-size: 40px;
}

.about-us-text>p {
    padding-bottom: 1.5rem;
}

.card-img-alt {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: -40px auto 10px auto;
    border: 4px solid white;
    background: white;
}

/* Why */

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    /* One column layout */
    gap: 5rem;
}

.card-container>h2 {
    padding-bottom: 6rem;
    text-align: center;
    font-size: 40px;
}

.our-goals {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.card-text>h3 {
    text-align: center;
}

.card {
    background-color: var(--phanitasYellow);
    color: var(--deepPurple);
    border-radius: 2rem;
    padding: 2rem;
    max-width: 350px;
}


.card-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin: -90px auto 10px auto;
    border: 4px solid white;
    background: white;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-text>ul>li {
    padding-top: 0;
    padding-bottom: .5rem;
    margin: 0;
}

/* Our Classes/Departments */

.departments {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--lightGreen);
    padding: 1.5rem 0rem;
}

.class-title {
    text-align: center;
}


/* Footer */

.footer {
    background-color: #f4229d;
    padding: 2rem 0;
}



/* Media Queries */
/* Tablet Styles */
@media screen and (min-width: 676px) {
    .side {
        width: 400px
    }
}

/* Desktop Styles */
@media screen and (min-width: 1007px) {
    nav {
        display: flex;
        box-shadow: none;
    }

    .nav-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .side {
        position: static;
        /* Remove fixed positioning */
        width: auto;
        /* Allow links to take natural width */
        height: auto;
        transform: none;
        /* Ensure it's visible */
        background-color: transparent;
        /* Match main nav */
        box-shadow: none;
        /* Remove shadow */
        display: flex;
        flex-direction: row;
        /* Align links horizontally */
        gap: 2rem;
        transform: none !important;
        /* Ensure it's visible */
        transition: none;
        /* Disable transition effect */

    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }

    .toggleBtn,
    .close-btn {
        display: none;
    }

    li {
        padding: 0;
    }

}